body {
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
    font-family:"Merriweather", serif;
    line-height: 2;
}

h1 {
   color: #205295;
   margin: 50px auto 0 auto;
   position:relative;
   font-family: "Sacramento", cursive;
   font-size: 5.625rem;
   line-height: 2;
}

h2 {
    color: #205295;
    font-family: "Montserrat", sans-serif; 
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color:#205295;
}
.top-container {
    background-color: #FFD7E2;
    position: relative;
    padding-top: 100px;

}
.middle-container {
    
    margin-top: 100px;
}
.Arpit {
    border-radius: 100%;
    margin-top:50px;
}
.bluePill {
    width: 25%;
    position:absolute;
    bottom:20px;
    transform: rotate(75deg);
    animation-name: example;
    animation-duration:16s;
    animation-fill-mode:both;
    animation-iteration-count:infinite;
 
    
}
@keyframes example{
    0% {top: 0%;}
    50% {top:91%;}
    100% {top:0%}
}
.redPill {
    width: 20%;
    position:absolute;
    bottom:20px;
    left:20px;
    transform: rotate(110deg);
    animation-name: example;
    animation-duration:20s;
    animation-fill-mode:both;
    animation-iteration-count:infinite;
 
}

.top-cloud-motion{
    animation-name: top-motion;
    animation-duration:20s;
    animation-fill-mode:both;
    animation-iteration-count:infinite;
}

@keyframes top-motion{
    0% {top: 10%; right:20%; }
    50% {top:10%; right:85%;}
    100% {top:10%;right:20%;}
}

.bottom-cloud-motion{
    animation-name: bottom-motion;
    animation-duration:23s;
    animation-fill-mode:both;
    animation-iteration-count:infinite;
}

@keyframes bottom-motion{
    0% {left:21%; bottom:30%; }
    50% {left:85%; bottom:30%;}
    100% {left:21%; bottom:30%;}
}

span {
    text-decoration: underline;
}

a {
    color: #205295;
    margin: 40px 20px;
    font-family: "Montserrat", sans-serif; 
    text-decoration: none ;
}

a:hover {
    color: #205295;
}
.top-cloud {
    width:20%;
    position:absolute;
    top:10%;
    right:20%;
}
.bottom-cloud {
    width:20%;
    position: absolute;
    left:21%;
    bottom:30%;
}

.Typing {
    width:25%;
    
    background-color: #205295;
    border-radius: 20%;
    float: right;
    margin-left: 30px;
}

.skills {
    position:relative;
}

.skill-row {
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
}

.left {
    width:25%;
    background-color: #205295;
    border-radius: 20%;
    float: left;
    margin-right: 30px;
}

p {
    color: #205295;
}

hr {
    width: 5%;
    border-style: none none dotted none;
    border-width: 8px;
    border-color: #205295;
    margin: 100px auto 100px auto;
}

.Love {
    text-align: center;
    margin: 50px auto 50px auto;
    width: 35%;
}

.btn {
    background: #205295;
    background-image: -webkit-linear-gradient(top, #205295, #205295);
    background-image: -moz-linear-gradient(top, #205295, #205295);
    background-image: -ms-linear-gradient(top, #205295, #205295);
    background-image: -o-linear-gradient(top, #205295, #205295);
    background-image: linear-gradient(to bottom, #205295, #205295);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 8px;
    font-family:"Montserrat", sans-serif; 
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #205295;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.contact-me {
    margin: 50px auto 50px auto;
}

.value {
    margin: 0 auto 50px auto;
}

.bottom-container {
    background-color: #FFD7E2;
    padding: 50px 0 20px;
    position: relative;
    top:10px;
}



.Bio {
    color:#205295;
    font-size: 0.75rem;
    margin-top: 40px;
    text-align: center
}
.mountain{
    width : 65%;
    height:auto;
}

.myClass{
    background-color: #E0EBE8;
    color: #4AB19A;
}

.myColor{
    color:#4AB19A;
}

